/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
   
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
   html{
      font-size: 61%;
   }

}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
 html{
   font-size: 58%;
 }
 .right-side {
	flex-basis: 70%;
}
.menu-icon {
	font-size: 2rem;
	margin-right: 0.3rem;
}
.search-icon {
	font-size: 1.5rem;
}
.search-field {
	padding: .5rem;
}
.banner-text h1 {
	font-size: 4.5rem;
}
.single-about {
   margin:0 1rem 2rem;
 }

}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {}