/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	/* p {
		font-size: 1.4rem;
	}
	.single-about {
		width: 310px;
		margin-right: 1.5rem;
		padding: 3rem;
		transition: .3s;
	} */
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
   /* html{
      font-size: 61%;
   }
   p {
	font-size: 1.3rem;
}
   .single-about {
	width: 230px;
	margin-right: 1.5rem;
	padding: 2rem;
} */


}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
 html{
   font-size: 58%;
 }
 .right-side {
	flex-basis: 70%;
}
.menu-icon {
	font-size: 2rem;
	margin-right: 0.3rem;
}
.search-icon {
	font-size: 1.5rem;
}
.search-field {
	padding: .5rem;
}
.banner-text h1 {
	font-size: 4.5rem;
}
/* .single-about {
   margin:0 1rem 2rem;
 } */

}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {}