/* reset css */
:root{
    --primary-color: #d4344f;
    --btn-hover-color:#e15169;
   --common-box-shadow: 1px 5px 10px 3px grey;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@400;500;600;700&display=swap');
body{
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Arima', cursive;
    background-color: #dcdde1;
}
a{
    text-decoration: none;
    transition: .3s;
    font-size: 1.5rem;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
p{
    font-size: 1.5rem;
    color: #7f8c8d;
    line-height: 2.5rem;
	  font-weight: 300;
	  letter-spacing: 0.05rem;
}
h1{
    font-size: 3.9rem;
    font-weight: 500;
}
h2{
    font-size: 2.4rem;
}
h3{
    font-size: 1.8rem;
}
h4{
    font-size: 1.5rem;
}
h5{
    font-size: 1rem;
}
h6{
    font-size: 0.9rem;
}
.pt-100{
  padding-top: 10rem;
}
.pt-80{
  padding-top: 8rem;
}
.pb-80{
  padding-bottom: 8rem;
}
/* common section-title */
.section-title{
  padding-bottom: 6rem;
}
.section-title p{
  color: var(--primary-color);
}
.card-row{
  padding-top: 8rem;
 }
/* btn css */
.common-btn{
  font-size: 1.4rem;
  background-color: var(--primary-color);
  color: #fff;
  outline: none;
  border: none;
  padding: .7rem 1.5rem;

}
.common-btn:hover{
  background-color:var(--btn-hover-color);
  color: #fff;
}
/* shadow effect */
.place-col:hover, .card-col:hover{
  box-shadow: var(--common-box-shadow);
} 
/* login-register css */


.main{
	width: 100%;
	height: 100vh;
	background-color: #0A0A0A;
}

.login-register-card{
	width: 40rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.login-register-card-title h3{
	color: var(--primary-color);
	text-align: center;
	padding: 2rem 0;
	font-weight: 500;
}

.login-register-card-title h3 span{
	color: #848484;
  padding-left: .5rem;
}

.login-register-card-body{
	background-color: #121212;
	padding: 1rem 0;
	border-radius: .5rem;
	width: 100%;
	height: 50rem;
	overflow: hidden;
}

.login-register-card-body-top{
	width: 100%;
	position: relative;
	border-bottom: .1rem solid #262626;
}

 .form-btn{
	border: 0;
	background-color: transparent;
	color: #848484;
	font-size: 1.6rem;
	letter-spacing: .1rem;
	font-weight: 500;
	width: 18rem;
	padding: 2rem 0;
}

#login{
	color: var(--primary-color);
}

#register{
	color: #848484;
}
#pointer-btn{
	position: absolute;
	bottom:-.1rem;
	left: 3rem;
	width: 12rem;
	height: .2rem;
	background-color: var(--primary-color);
	transition: 0.5s all ease;
}

.card-body-login{
	width: 100%;
	padding: 1.5rem 2rem;
	position: relative;
}

 #login-form{
	position: absolute;
	top: 3rem;
	left: 2.5rem;
	text-align: center;
	transition: 0.5s all ease;
}

 #register-form{
	position: absolute;
	top: 2rem;
	left: 45rem;
	text-align: center;
	transition: 0.5s all ease;
}

.input-form{
	border: none;
	background-color: transparent;
	color: #fff;
	border-bottom: 1px solid var(--primary-color);
	width: 35rem;
	padding: 1.5rem 0;
	font-size: 1.5rem;
	letter-spacing: .1rem;
	outline: none;
  margin-bottom: 1rem;
}

.submit-form{
	background-color: var(--primary-color);
	border: none;
	padding: 1rem 2.5rem;
	font-size: 1.5rem;
	cursor: pointer;
	letter-spacing: .1rem;
	border-radius: 5rem;
  margin-top: 2.5rem;
}


/* header css */
.info{
    background-color: var(--primary-color);
    height: 4rem;
    font-size: 1.2rem;
}
.info p, .info a{
    font-size: 1.2rem;
}
.form {
	margin-right: -89rem;
}
.nav-line {
  position: relative;
}
.nav-line:after {
  content: "";
  position: absolute;
  width: 100%;
  height: .1rem;
  background-color: var(--primary-color);
  left: 0;
  bottom: -.5rem;
}
.banner {
    background-image: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75)), url('../images/banner/banner-img.jpg');
    height: 90vh;
    position: relative; 
    background-size: cover;
    background-position: center;
}
/* ---- */
header{
  position: fixed;
  
}
.header-fixed {
  /* position: absolute; */
  left: 0;
  right: 0;
  z-index: 999;
}
.header-area {
  padding: 15px 0;
}
nav {
	display: flex;
	justify-content: space-between;
}

.logo{
  font-size: 2.5rem;
  margin-right: .5rem;
}
.sticky{
  background-color:var(--primary-color);
  top: 0;
}
.right-side {
  display: flex;
  flex-basis: 40%;
  padding: 5px;
}
.search-field {
	max-width: 100%;
	padding: .7rem;
}
.search-icon {
	font-size: 2rem;
	align-items: center;
	justify-content: center;
	display: flex;
}
.login-btn {
    background-color: #fff;
    color: var(--primary-color);
    border: .1rem solid var(--primary-color);
    margin: 0 1rem;
    border-radius: 2rem;
    padding: .5rem 1rem;
    position: relative;
  }
.login-btn:hover {
    border-color: var(--primary-color);
    color: #fff;
    background-color: var(--primary-color);
  }
.login-btn::before {
    content: "";
    position: absolute;
    width: 1.2rem;
    height: .1rem;
    background-color: #fff;
    right:2.4rem;
    top: -.1rem;
}
.login-btn::after {
    content: "";
    position: absolute;
    width: 1.2rem;
    height: .1rem;
    background-color: #fff;
    left:2.4rem;
    bottom: -.1rem;
}
.menu {
  position: absolute;
  background-color: #333;
  width: 100%;
  height: 100vh;
  top:0;
  right:-100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000;
  transition:.8s; 
}
.menu ul li {
padding-bottom: 1rem;
position: relative;  
}
.menu ul li a {
color: #fff;
display: inline-block;
font-size: 2rem;
text-transform: uppercase;
position: relative;
}
.menu ul li a::after {
content: "";
position: absolute;
background-color: var(--primary-color);
width: 0;
height: .2rem;
left: 0;
bottom: 0;
transition: width 0.5s;
}

.menu ul li a:hover::after{
  width: 100%;
}
  .close-menu {
    color: #fff;
    position: absolute;
    right: 8rem;
    top: 4rem;
    cursor: pointer;
}
  .menu-icon{
    cursor: pointer;
   font-size: 2rem;
  }
  /* ---- */
.banner-text {
   position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
.auto-input{
  color: var(--primary-color);
}
.banner-text h1{
  color:#fff;
  font-size: 5rem;
  padding-bottom: 1rem;
  font-size: 5rem;
}
  /* about css */
  
 .about-icon {
	font-size: 2.5rem;
	padding: 1.2rem;
	border-radius: 50%;
	color: #fff;
}
.icon-bg-1{
  background: linear-gradient(to right, rgba(255,93,177,1) 50%, rgba(239,1,124,1) 50%);
}
.icon-bg-2{
  background: linear-gradient(to right, rgba(210,255,82,1) 50%, rgba(145,232,66,1) 50%);
}
.icon-bg-3{
  background: linear-gradient(to right, rgba(255,175,77,1) 50%, rgba(255,145,10,1) 50%);
}
.single-about {
	background-color: #fff;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
  transition: .3s;
}

.single-about:hover{
  box-shadow: 0 0 3.5rem rgba(0,0,0,0.7);
}

/* places css */
.places-card{
  background-color: #fff;
	box-shadow: .2rem .2rem .5rem rgba(0,0,0,0.7);
  transition: .3s;
}
.places-card:hover{
  box-shadow: 0 0 3.5rem rgba(0,0,0,0.7);
}
.places-card p {
	color: #000;
	padding-bottom: 1.5rem;
}
.card-image {
	position: relative;
	top: -2.5rem;
  box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.57);;
}
.places-title{
  color: var(--primary-color);

}
/* services css */

.service-card {
	font-size: 1.5rem;
	background-color: var(--primary-color);
	color: #fff;
	box-shadow: .2rem .2rem .5rem rgba(0,0,0,0.7);
	margin-bottom: 1.5rem;
  transition: .3s;
}
.service-card:hover {
	background-color: #e9506a;
  box-shadow: 0 0 3.5rem rgba(0,0,0,0.7);
}
.service-card i{
  font-size: 2.5rem;
  color: #e8bc4d;
}
/* gallery css */
.gallery-img{
  transition: .3s;
}
.gallery-img:hover{
  transform: scale(1.1);
}
/* footer css */
.footer-area{
    background-color:#dcdde1;
}
.footer-text{
    font-size: 1.3rem;
}
.footer-icon img {
	width: 3.8rem;
	margin-top: 1rem;
	margin-right: 1rem;
}
.icon-shadow {
	box-shadow: .2rem .2rem .5rem rgba(0,0,0,0.3);
	background-color: #fff;
  padding: .7rem;
	border-radius: .4rem;
	margin-bottom: 2.8rem;
}
.icon-shadow:hover{
  box-shadow:  .5rem .5rem 1rem rgba(0,0,0,0.5);
}
h4.footer-heading {
    position: relative;
  
  }
  h4.footer-heading:after {
    position: absolute;
    content: "";
    height: .2rem;
    width: 5rem;
    background-color: var(--primary-color);
    bottom: -32%;
    left: 0%;
  }
  .footer-items {
	list-style: disclosure-closed;
}
.footer-items li, .contact-info li {
	margin-bottom: .3rem;
}
.footer-items li a, .contact-info li a  {
	color: #000;
	font-size: 1.3rem;
}

.footer-copy-text {
	color: var(--primary-color);
	height: 6vh;
	font-size: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-btn {
	margin-top: 5rem;
	color: var(--primary-color);
	background-color: #010203;
	padding: 1rem 1.5rem;
	font-size: 1.4rem;
  outline: none;
  border: none;
}
.footer-btn:hover{
 background-color: #333;
 color: var(--primary-color);
}
.footer-bottom {
	margin-top: -3rem;
}
.footer-bottom p{
  margin-bottom: 0;
  padding: 2rem;
}
